PORT = 3001
MONGO_URI_TEST= mongo_uri_for_the_test_database
JWT_SECRET= jwt_secret_key_for_testing
NODE_ENV = test 

CLOUDINARY_CLOUD_NAME = random_cloud_name_for_testing
CLOUDINARY_API_KEY = random_api_key_for_testing
CLOUDINARY_API_SECRET = random_api_secret_for_testing
