PORT = Port_number
MONGO_URI = mongo_URI
JWT_SECRET = your_jwt_secret_key
NODE_ENV = development

ETHEREAL_USER = your_ethereal_email
ETHEREAL_PASS = your_ethereal_password
PLATFORM_URL = platform_url

CLOUDINARY_CLOUD_NAME = cloudinary_cloud_name
CLOUDINARY_API_KEY = cloudinary_api_key
CLOUDINARY_API_SECRET = cloudinary_api_secret
